@font-face {
    font-family: 'Gill Sans Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./fonts/Gill_Sans_Bold.otf');
}

@font-face {
    font-family: 'Actay regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/Actay-Regular.otf');
}

@font-face {
    font-family: 'Actay Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./fonts/ActayWide-Bold.otf');
}
